@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: whitesmoke;
}
h1{
  margin-bottom: 10px;
}
h3{
  color: rgb(206, 94, 94);
  margin-bottom: 10px;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  }
  
form{
  width: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
input{
  padding: 5px;
  margin-top: 8px;
  height: 50px;
  border: none;
}
button{
  margin-top: 12px;
  height: 60px;
  border: none;

}
#join{
  margin-bottom: 12px;
  color: whitesmoke;
  background-color: #4F5D75;
  transition-duration: 0.3s;
}
#join:hover{
  background-color: #2D3142;
  cursor: pointer;
}
#create{
  color: whitesmoke;
  background-color: #EF8354;
  transition-duration: 0.3s; 
}
#create:hover{
  background-color: #e16834;
  cursor: pointer;
}

.message-box{
  margin-top: 10vh;
  margin-left: 3vw;
  background-color: whitesmoke;
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 95vw;
  align-items: stretch;
}

.messages{
  overflow-y: scroll;
  flex: 1;
  width: 100%;

}
.text{
  padding-left: 5px;
  padding-top: 5px;
}
.inputs {
  padding: 10px;
  display: flex;
}

h2 {
  text-align: center;
}
#send-btn{
  width: 6pc;
  color: whitesmoke;
  background-color: #4F5D75;
  transition-duration: 0.3s;
}
#send-btn:hover{
  background-color: #2D3142;
  cursor: pointer;
}
#message{
  flex: 1;
}

strong{
  color: rgb(0, 0, 136);
}

.base-div{
  display: flex;
  align-items: center;
}

.room-name{
  margin-bottom: 10px;
  color:#e16834;
}
.leave-room{
  text-align: right;
  color: red;
}