@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
h1{
  margin-bottom: 10px;
}
h3{
  color: rgb(206, 94, 94);
  margin-bottom: 10px;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
form{
  width: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
input{
  padding: 5px;
  margin-top: 8px;
  height: 50px;
  border: none;
}
button{
  margin-top: 12px;
  height: 60px;
  border: none;

}
#join{
  margin-bottom: 12px;
  background-color: #4F5D75;
  transition-duration: 0.3s;
}
#join:hover{
  background-color: #2D3142;
  cursor: pointer;
}
#create{
  background-color: #EF8354;
  transition-duration: 0.3s; 
}
#create:hover{
  background-color: #e16834;
  cursor: pointer;
}

.message-box{
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  background-color: whitesmoke;
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: stretch;
}

.messages{
  overflow-y: scroll;
  flex: 1;
  width: 100%;
}

.inputs {
  padding: 10px;
  display: flex;

}

h2 {
  text-align: center;
}

#message{
  flex: 1;
}

strong{
  color: rgb(0, 0, 136);
}