{% extends 'base.html' %}
{% block content %}
<div class="message-box">
  <h2 class="room-name">{{room}}</h2>
  <a href="/" class="leave-room">Sair da sala</a>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input type="text" rows="3" placeholder="Digite algo" name="message" id="message">
    <button type="button" name="send" id="send-btn" onClick="enviar()">Enviar</button>
  </div>
</div>

<script type="text/javascript">
  var socketio = io();
  const messages = document.getElementById("messages")
  const createMessage = (name, msg) => {
    const msg_na_tela = `
    <div class="text">
      <span>
        <strong>${name}</strong>: ${msg}
      </span>  
    </div>  
    `;
    messages.innerHTML += msg_na_tela;
  };

  socketio.on("message", (infos)=>{
    createMessage(infos.name, infos.message);
  })
  /*envia a mensaggem pro servidor, e o servidor envia para os outros usuários*/
  const enviar = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", { infos: message.value });
    message.value = "";
  };
</script>
{% endblock %}