{% extends 'base.html' %}

{% block content %} 
<div class="container">
    {% if aviso %}
    <h3>{{aviso}}</h3>
    {% endif %}
    <h1>Real Time Chat Room</h1>
    <form method="post">
        <input type="text" placeholder="Nome de usuário" name="name" value="{{name}}" required>
        <input type="text" placeholder="Código da sala" name="code" value="{{code}}" required>
        
        <button id="join" type="submit" name="join">ENTRAR</button>
        <p>ou</p>
        <button id="create" type="submit" name="create">CRIAR SALA</button>
    </form>
</div>

{% endblock %}